@import '@/common/style.scss';
.room-guide {
    background-color: #f9f9f9;
    padding: 15px 10px;
    border-radius: 8px;
    .guide {
        font-size: $base-fz-m;
        color: $big-color;
        font-weight: bold;
        margin-bottom: 15px;
    }
    >img {
        border-radius: 4px;
    }
}