.wallet-container {
  width: 100%;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
  padding-bottom: 20px;
  .userinfos {
    background: url("../../../assets/imgs/login/m-bg.jpg");
    height: 200px;
    margin-top: 45px;
     :first-child {
      font-size: $base-fz-m;
      color: #fff;
      margin-bottom: 25px;
      font-weight: bold;
    }
     :last-child {
      font-size: 40px;
      color: #fff;
      margin-bottom: 25px;
      font-weight: bold;
    }
  }
 
}